body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-part{
    background-color: #1F2937;
    color: white;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 12px 108px 72px 108px;
    gap: 72px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header div{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    
}

.header ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 18px;
}

.link-list li{
    list-style-type: none;
}

.link-list li a {
    text-decoration: none;
    color: white;
}

.preface{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.website-details{
    width: 455px;
}

.website-details button{
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #3882F6;
    font-weight: bolder;
    padding: 8px 28px;
    margin-top: 14px;
}

.placeholder{
    background-color: grey;
    min-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary-text,
.link-list li a{
    font-size: 18px;
    color: #E5E7EB;
}

.second-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 108px;
}

.second-part .info{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.items-container{
    display: flex;
    gap: 24px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 160px;
    gap: 8px;
    align-items: center;
    text-align: center;
    color: rgb(88, 88, 88);
}

.item-image{
    height: 140px;
    width: 140px;
    border: solid 4px #3882F6;
    border-radius: 8px;
}

